<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <script src="util.js"></script>  

    <title>Test</title>

  </head>

<body>

<p id="myP">This is a p element.</p>

<button type="button" id="button-1" onclick="myFunction()" visibility="visible">Hide content of p</button>
<button type="button" onclick="myFunction()">Hide content of p</button>
 
</html>